<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
</head>
<body>
<h1>
    <a href="{% url 'blog:edit_page' 0 %}">新文章</a>
</h1>
<hr>
<!--   注释掉 表格
<table border="0">
    <tr>
        <th align="left" width="600">title</th>
        <th align="center" width="200">author</th>
        <th align="center" width="200">date</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td><a href="{% url 'blog:article_page' article.id %}">{{ article.title }}</a></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>
-->
<ul>
    {% for article in articles %}
        <li><a href="{% url 'blog:article_page' article.id %}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
</body>
</html>